<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${hostName}"></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style th:insert="/styles/styles.css"></style>
    <script th:insert="/scripts/actions.js"></script>
</head>

<body>
    <div class="head-container">
        <h3>pwd </h3>
        <h3 th:each="segment : ${data.currentPathTree}">
            > <a class="head-link" th:href="${segment.href}">[(${segment.label})]</a>
        </h3>
    </div>
    <hr>
    <div class="body-container">
        <textarea class="content">[(${data.content})]</textarea>
    </div>
</body>

<hr>
<footer>
    <div class="foot-container">
        <table style="width:100%">
            <tr>
                <td>whoami: [(${userName})]</td>
                <td>host: [(${hostName})]</td>
                <td>ip: [(${ip})]</td>
            </tr>
        </table>
    </div>
</footer>

</html>