<!DOCTYPE html>
<html lang="en">

<head th:insert="/views/metadata.html"></head>

<div class="forms" th:insert="/views/file/forms.html"></div>

<div class="window-container">
    <body>
        <div class="alerts" th:insert="/views/alerts.html"></div>
        <div class="page-container">
            <div class="actions-container" th:insert="/views/file/actions.html"></div>
            <hr>
            <div class="body-container">
                <div class="head-container" th:insert="/views/header.html"></div>
                <hr>
                <div class="data-container">
                    <textarea id="content" class="content">[(${data.content})]</textarea>
                </div>
            </div>
        </div>
    </body>
    <hr>
    <div class="foot-container" th:insert="/views/footer.html"></div>
</div>

</html>