<table>
    <thead>
        <tr class="action" onclick="toggleOptions()">
            <th><i id="menu" class="material-icons">menu</i></th>
        </tr>
    </thead>
    <tbody>
        <tr class="action" onclick="update()">
            <td>
                <span>
                    <i class="material-icons">create</i>
                    <p class="menu-opened">Update</p>
                </span>
            </td>
        </tr>
        <tr class="action">
            <td>
                <span>
                    <i class="material-icons">power_settings_new</i>
                    <a class="logout-link menu-opened" th:href="${#strings.concat(base,'/logout')}">exit</a>
                </span>
            </td>
        </tr>
    </tbody>
</table>
