<div class="success" id="addFormSuccess">
    <i class="material-icons">thumb_up</i>
    <label>Add Successful</label>
</div>

<div class="failed" id="addFormFailed">
    <i class="material-icons">thumb_down</i>
    <label>Add Failed</label>
</div>

<div class="success" id="updateFormSuccess">
    <i class="material-icons">thumb_up</i>
    <label>Update Successful</label>
</div>

<div class="failed" id="updateFormFailed">
    <i class="material-icons">thumb_down</i>
    <label>Update Failed</label>
</div>