<div class="action" onclick="toggleOptions()">
    <i id="menu" class="material-icons">menu</i>
</div>
<hr class="divider">
<div class="action" onclick="toggleHidden()">
    <p><i id="hidden" class="material-icons">visibility</i></p>
    <p class="menu-opened">Hidden Files</p>
</div>
<div class="action" onclick="add()">
    <p><i class="material-icons">add</i></p>
    <p class="menu-opened">Add</p>
</div>
<div class="action" onclick="remove()">
    <p><i class="material-icons">remove</i></p>
    <p class="menu-opened">Remove</p>
</div>
<div class="action" onclick="update()">
    <p><i class="material-icons">create</i></p>
    <p class="menu-opened">Update</p>
</div>
<div class="action" onclick="logout()">
    <p><i class="material-icons">power_settings_new</i></p>
    <p class="menu-opened">Exit</p>
</div>
