<form class="form" id="addForm" name="addForm" th:action="@{/create}" method="post">
    <div class="form-content">
        <div>
            <input type="radio" id="isFile" name="type" value="file" checked="true">
            <label>File</label>
            <input type="radio" id="isDirectory" name="type" value="directory">
            <label>Directory</label>
        </div>
        <div>
            <input type="text" id="filename" name="filename" placeholder="Name" required autofocus>
        </div>
        <div>
            <input type="hidden" id="path" name="path">
        </div>
        <div class="form-options">
            <div onclick="submitForm('addForm')" class="options">
                <i class="material-icons">check_circle</i>
            </div>
            <div onclick="closeForm('addForm')" class="options">
                <i class="material-icons">cancel</i>
            </div>
        </div>
    </div>
</form>