<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${hostName}"></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        h3 {
            font-family: "Lucida Console", Monaco, monospace;
        }

        th {
            text-align: left;
            font-family: "Lucida Console", Monaco, monospace;
            text-transform: uppercase;
        }

        textarea {
            font-family: "Lucida Console", Monaco, monospace;
        }
    </style>
</head>

<body bgcolor="white">
<span>
    <a th:href="${data.parentPathLink.href}"><i class="material-icons">arrow_back</i></a>
    <a th:href="${data.rootPathLink.href}"><i class="material-icons">home</i></a>
</span>
<br/>
<h3 th:each="segment : ${data.currentPathTree}" style="display:inline">
    > <a th:href="${segment.href}">[(${segment.label})]</a>
</h3>

<hr>
<div style="width:100%">
    <textarea rows="40" style="width:100%">[(${data.content})]</textarea>
</div>
<hr>
</body>

<footer>
    <p>Logged in: [(${userName})]</p>
    <p>IP Address: [(${ip})]</p>
</footer>

</html>