@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
	background-color: #292c34;
	font-size: 100%;
	width: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    min-height: 100vh;
    margin: 1em;
}

.head-container {
    width: 100%;
    color: #dddddd;
	font-family: 'Ubuntu', sans-serif, monospace;
    text-shadow: 0em 0em 0.05em;
    word-spacing: 0.5em
}

.body-container {
    display: flex;
    flex: 1;
    align-items: stretch;
    width: 100%;
	color: #dddddd;
	font-family: 'Open Sans', sans-serif, monospace;
    text-shadow: 0em 0em 0.05em;
}

.body-container > * {
    width: 100%;
    table-layout: inherit;
    align-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.content {
    display: flex;
    flex: 1;
    color: #dddddd;
    background-color: #434856;
    font-family: 'Open Sans', sans-serif, monospace;
    font-size: 15px;
    line-height: 1.8;
    word-spacing: 0.5em
}

.foot-container {
    width: 100%;
	color: #dddddd;
	font-family: 'Open Sans', sans-serif, monospace;
    text-shadow: 0em 0em 0.05em;
    letter-spacing: 0.2em;
    font-size: 1em;
    padding-bottom: 2em;
}

h3 {
    display: inline;
}

.head-link {
    color: #dddddd;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-size: 1.25em;
}

.head-link:hover {
    color: #dddddd;
    background-color: #616161;
}

.body-link {
    color: #dddddd;
    text-decoration: none;
}

.body-link:hover {
    color: #dddddd;
    background-color: #616161;
}

.download-link {
    color: #808080;
    text-decoration: none;
}

.download-link:hover {
    color: #bfbfbf;
    text-decoration: none;
}

.table-header {
    text-align: left;
    color: #dddddd;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 1.25em;
}

.table-row {
    color: #dddddd;
    letter-spacing: 0.20em;
    font-size: 1em;
    width: 100%;
    height: 2em;
}

